//variables
@import "utilities/variables";

body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    background-color: map-get($colores, color-fondo);
}

.grid-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas:
        "header header header"
        "main main main"}

        /*estilos header index*/
        .header{
            grid-area: header;
            width: 100%;
            text-align: center;
            h1{
                display: inline-block;
                position: relative;
                color: map-get($colores, color-textos1);
                margin-top: 0.8em;
                font-size: 1.8em; 
            }
            h1::after,h1::before{
                content: '';
                    position: absolute;
                    width: 120px;
                    height: 3px;
                    background-color: map-get($colores, color-fondotextos);
                    top: 0.6em;
            }
            h1::before{
                left: -125px;
            }
            h1::after{
                right: -125px;
            }
            .parrafos{
                display: flex;
                justify-content: space-around;
                background-color: map-get($colores, color-fondotextos);
                color: map-get($colores, color-textos2);
                font-size: 1.5em;
                margin-top: 1.2em;
                padding: 0.5em;
                padding-top: 1em;
            }
            div{
                img{
                    margin-top: 1em;
                    width: 100%;
                    height: 100%;
                }
            }   
        }

        /*estilos main index*/
        .main{
            grid-area: main;
            display: flex;
            margin-top: 2.5em;
            .card{
                width: 100%;
                margin: 20px;
                border-radius: 6px;
                overflow: hidden;
                background: map-get($colores, color-cards);
                box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
                transition: all 400ms ease-out;
                cursor: default;
                .contenido-card{
                    padding: 15px;
                    text-align: center;
                    h2{
                        margin-bottom: 2.5em;
                        color: map-get($colores, color-textos1);
                    }
                    a{
                        display: inline-block;
                        padding: 10px;
                        margin-top: 10px;
                        text-decoration: none;
                        color: map-get($colores, color-principal);
                        border: 1px solid map-get($colores, color-principal);
                        border-radius: 4px;
                        transition: all 400ms ease;
                        margin-bottom: 5px;
                    }
                    a:hover{
                        background: map-get($colores, color-secundario)
                    }
                    h1{
                        column-rule:black;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            } 
            .card:hover{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
                transform: translateY(-3%);
            } 
        }

/*estilos de navbar general*/
nav{
    background-color: map-get($colores, color-principal);
    border-bottom: $bordes-inferiores;
    div{
        .navbar-brand{
            transition: 0.5s;
        }
        .navbar-brand:hover{
            transform: scale(1.2);
        }
            a{
                img{
                    height: 100px;
                    width: 150px;
                    margin-left: $margenes;
                }
            }
    }
    .nav-item{
        font-weight: bold;
        padding: 1em;
    }
    .nav-item:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}

/*titulos generales*/

/*nosotros*/

main{
    .div-nosotros{
        display: flex;
        padding: 1em;
        margin: $margin-parrafos;
    }
}

/*productos*/
.main-productos{
    text-align: $centrado;
    div{
        margin-bottom: 3em;
    }
}

/*footer*/
.footer{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 3em;
    p{
        text-align: $centrado;
        margin: $margenes;
        color: map-get($colores, color-textos2);
        font-weight: bold ;
    }
}

@media only screen and (max-width:425px){
    .header{
        h1{
            margin-top: 1.5em;
            font-size: 1em;
        }
        .parrafos{
            font-size: 1em;
            margin-top: 5em;
            margin-bottom: 10em;
        }
    }
    .main{
        flex-wrap: wrap;
        .card{
            img{
                width: 100%;
                height: 400px;
            }
        }
    }
}

@media only screen and (max-width:800px){
    .header{
        .parrafos{
            font-size: 1.2em;
        }
    }
    .main{
        flex-wrap: wrap;
    }
}

